@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row justify-content-center align-items-center login-page">
    <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 p-0 m-0">
        <section>
            <h2 class="m-0 p-0">Please check your email to reset your password.</h2>
        </section>
    </div>
</div>