@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<div class="row justify-content-center align-items-center login-page">
    <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 p-0 m-0">
        <section>
            <h2>Login</h2>
            <div class="social-media mb-4">
                <a href="#facebook" class="fb"><span class="bi-facebook" aria-hidden="true"></span> Login with facebook</a>
                <a href="#twitter" class="tw"><span class="bi-twitter" aria-hidden="true"></span> Login with twitter</a>
            </div>

            <form id="account" method="post">
                <h2>Login with email</h2>
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                <input class="inputtext" asp-for="Input.Email" type="email" name="Email" placeholder="Email" required="" autofocus>
                <input class="inputtext" asp-for="Input.Password" type="password" name="Password" placeholder="Password" required="">

                <label class="check-remaind">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </label>

                <button class="btn btn-style" type="submit">Login</button>
                <div>
                    <p class="already">
                        Don't have an account? 
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                    </p>
                    <p class="forgot">
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="resend">
                        <a asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
