@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<div class="row justify-content-center align-items-center login-page">
    <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 p-0 m-0">
        <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create A New Account</h2>
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                <input class="inputtext" asp-for="Input.Email" type="email" name="Email" placeholder="Email" required="" autofocus>
                <input class="inputtext" asp-for="Input.Password" type="password" name="Password" placeholder="Password" required="">
                <input class="inputtext" asp-for="Input.ConfirmPassword" type="password" name="ConfirmPassword" placeholder="Confirm password" required="">


                <button class="btn btn-style" type="submit">Register</button>
                <div>
                    <p class="already">
                        Do have an account?
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
